@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    width: 900px;
    background-color: red;
    margin: 30px auto;
    text-align: center;
   
}

.menu > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.507);
}

.menu > a:hover{
    color: blue;
}